// carousel

.carousel-caption--highlight {
  @media (max-width: 992px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.carousel-caption--external {
  min-height: 400px;
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 1.8rem;

  @media (min-width: 768px) {
    display: none;
  }
}

.carousel-caption--external-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-indicators--button li {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.carousel-indicators--button .active {
  background-color: $warning !important;
}
