// jumbotron

.jumbotron--hero {
  background-image: url("../images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border: none;
  width: 100%;
  width: 100%;
}
