// col2

.col2 {
  background-color: $light;
}

.col2_btn--color {
  color: $primary;
  background: $light;
  border-radius: 0;
  border: none;
}

.col2_btn--color:hover {
  background: $secondary;
}
