// font

.font-14 {
  font-size: 0.875rem;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-40 {
  font-size: 2.5rem;
}

.font-color-white {
  color: #ffffff;
}
